@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rent A Car</h1>
    <p> Welcome @Session["name"] to @ViewBag.Title. </p>
    <p> welcome to rent a car</p>
    <p> You can rent a car, mini Bus or Van </p>

</div>


